[submodule "pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = git://github.com/tikhomirov/vim-glsl.git
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fatih/vim-go
[submodule "vim/bundle/clojure"]
	path = vim/bundle/clojure
	url = https://github.com/guns/vim-clojure-static
	ignore = dirty
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim/bundle/vimerl"]
	path = vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
